<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="public\img\xIcone.png" type="image/x-icon">
</head>

<body>
    <!-- HEADER -->
    <div class="container">
        <div class="row">
            <div class="col">
                <header>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/apis/profile">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/apis/logout">LOGOUT</a>
                                </li>
                            </ul>
                          
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- Alert -->
    <div class="container">
        <div class="row">
            <div class="col">
                <% if(success.length > 0 ){ %>
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Well done!</strong> <%= success %>
                </div>
                <% } %>

            </div>
        </div>
    </div>
    <!-- end Alert -->

    <!-- Form -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron">

                    <form action="/apis/product/add" method="POST" enctype="multipart/form-data">
                        <!-- Ray Ref -->
                        <div class="form-group">
                            <label for="RayID">Ray Reference</label>
                            <select class="form-control" id="RayID" name="RayID" required>
                                <option value="" selected>Select Ray Reference</option>
                                <% if(ray.length > 0) {%>
                                <% ray.forEach((rows) => {%>
                                <option value="<%= rows.idRay%>"> <%= rows.RefRay%> </option>
                                <% }) }%>
                            </select>
                        </div>
                        <!-- Provider  -->
                        <div class="form-group">
                            <label for="ProviderID">Provider</label>
                            <select class="form-control" id="ProviderID" name="ProviderID" required>
                                <option value="" selected>Select Provider</option>
                                <% if(provider.length > 0) {%>
                                <% provider.forEach((rows) => {%>
                                <option value="<%= rows.idProvider%>"><%= rows.FullName%> </option>
                                <% }) }%>
                            </select>
                        </div>
                        <!-- Reference -->
                        <div class="form-group">
                            <label class="col-form-label" for="reference">Reference</label>
                            <input type="text" class="form-control" placeholder="reference" id="reference"
                                name="reference" required>
                        </div>
                        <!-- Designation -->
                        <div class="form-group">
                            <label class="col-form-label" for="designation">Designation</label>
                            <input type="text" class="form-control" placeholder="designation" id="designation"
                                name="designation" required>
                        </div>
                        <!-- Image -->
                        <div class="form-group">
                            <label for="counrty">File input</label>
                            <input type="file" class="form-control-file" id="file" aria-describedby="fileHelp"
                                name="file" required>
                            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level
                                help
                                text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                        <!-- Category  -->
                        <div class="form-group">
                            <label for="CategoryID">Category</label>
                            <select class="form-control" id="CategoryID" name="CategoryID" required>
                                <option value="" selected>Select Categorie</option>
                                <% if(categorie.length > 0) {%>
                                <% categorie.forEach((rows) => {%>
                                <option value="<%= rows.idCategory%>"><%= rows.Name%> </option>
                                <% }) }%>
                            </select>
                        </div>
                        <!-- Button -->
                        <button type="submit" class="btn btn-primary">Add +</button>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- endForm -->



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/1b86f0e672.js" crossorigin="anonymous"></script>
</body>

</html>
